$light-grey-color: #a8a8a8;
$grey-color: #585858;
$navbar-blue: #6896ac;
$left-margin: 60px;
$background-grey: #dadde3;
$grid-padding-left: 20px;
$page-top-margin: 30px;

body {
	font-family: "Univers LT W01_45 Light1475944", sans-serif;
	background-color: $background-grey;
	margin: 0;
}
#homepage-blurb {
	color: #1780b7;
	font-size: 32px;
	padding-top: 120px;
	width: 47%;
}
#best-logo {
	float: left;
	font-size: 24px;
	margin-top: $page-top-margin;;
	.logo-line-1 {
		font-weight: 800;
		color: $light-grey-color;
	}
	.logo-line-2 {
		font-weight: 500;
		color: $grey-color;
	}
}
#homepage-header {
	background-image: url("main-photo.jpg");
	background-size: 100% 100%;
	padding: 0 130px 0 $left-margin;
}
//Stretch main image to fit screen resize
html, body, #homepage-header {
	height: 100%;
}
.read-more-btn {
	border: 1px solid $light-grey-color;
	background: none;
	color: $light-grey-color;
	padding: 0 15px 0 0;
	text-align: center;
	line-height: 48px;
	font-size: 15px;
	margin-top: 20px;
}
.read-more-btn:before {
	content: "+";
	display: inline;
	width: 20px;
	height: 20px;
	font-size: 32px;
	line-height: 40px;
	border: 1px solid $light-grey-color;
}

/* =========== Top Navbar ============== */

#homepage-navbar {
	ul {
		margin-top: $page-top-margin;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	li {
		display: inline-block;
		float: right;
		color: white;
		padding: 8px 18px;
	}
	li.important-navbar-item {
			color: $navbar-blue;
			border: 1px solid $navbar-blue;
		}
}

/* =========== End of Top Navbar ======= */

/* =========== Services Grid =========== */

#services-grid {
	margin: 0 140px 80px $left-margin;
	header {
		font-size: 26px;
		width: 66%;
		background-color: $background-grey;
		position: absolute;
		margin-top: -64px;
		.header-text {
			float: left;
			padding-left: $grid-padding-left;
			padding-top: 10px;
			padding-bottom: 5px;
		}
		.header-chevron {
			float: right;
		}
	}
}

/* =========== End of Services Grid =========== */